doctype html
html( lang="ru")
  head
    title Место
    link(rel="stylesheet" type="text/css" href="index.css")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    html(lang="ru")
  body.body
    header.header
      img.logo(src="blocks/header/logo.svg", alt="логотип")
    section.profile
      img.avatar(src="blocks/profile/avatar.jpg", alt="аватар")
      .profile__info
        .profile__block-title
          h1.profile__title Жак-Ив Кусто
          button.btn.btn_type_pencil
        p.profile__subtitle Исследователь океана
     
      button.btn.btn_type_add
    section.elements
      .element
        img.element__img(src="#", alt="#")
        .element__bottom-part
          h2.subtitle
          button.btn.btn_type_like
      .element
        img.element__img(src="#", alt="#")
        .element__bottom-part
          h2.subtitle
          button.btn.btn_type_like
      .element
        img.element__img(src="#", alt="#")
        .element__bottom-part
          h2.subtitle
          button.btn.btn_type_like
      .element
        img.element__img(src="#", alt="#")
        .element__bottom-part
          h2.subtitle
          button.btn.btn_type_like
      .element
        img.element__img(src="#", alt="#")
        .element__bottom-part
          h2.subtitle
          button.btn.btn_type_like
      .element
        img.element__img(src="#", alt="#")
        .element__bottom-part
          h2.subtitle
          button.btn.btn_type_like
    footer.footer
      p.footer__copyright