doctype html
html
  head
    title Место
    link(rel="stylesheet" type="text/css" href="index.css")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    html(lang="ru")
  body.body
    header.header
      .logo__place-header
      .line__place-header
  section.profile
    img.avatar(src="#", alt="аватар")
    .profile-info
      .edit-button
      p.profile__title
      p.profile__subtitle
    .add-button
  section.elements
    .element
      img.element__img(src="#", alt="#")
      .element__bottom-part
        h4.subtitle
        .like-button
    .element
      img.element__img(src="#", alt="#")
      .element__bottom-part
        h4.subtitle
        .like-button
    .element
      img.element__img(src="#", alt="#")
      .element__bottom-part
        h4.subtitle
        .like-button
    .element
      img.element__img(src="#", alt="#")
      .element__bottom-part
        h4.subtitle
        .like-button
    .element
      img.element__img(src="#", alt="#")
      .element__bottom-part
        h4.subtitle
        .like-button
    .element
      img.element__img(src="#", alt="#")
      .element__bottom-part
        h4.subtitle
        .like-button
  footer.footer
    p.copyright