doctype html
html( lang="ru")
  head
    title Место
    link(rel="stylesheet" type="text/css" href="index.css")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    html(lang="ru")
  body.body
    header.header
      img.logo(src="blocks/header/logo.svg", alt="логотип")
    section.profile
      img.avatar(src="blocks/profile/avatar.jpg", alt="аватар")
      .profile__info
        .profile__block-title
          h1.profile__title Жак-Ив Кусто
          button.btn.btn_type_pencil
        p.profile__subtitle Исследователь океана
     
      button.btn.btn_type_add
    section.elements
      .element
        img.element__img(src="blocks/element/elbrus.jpg", alt="эльбрус")
        .element__bottom-part
          h2.element__subtitle Гора Эльбрус очень высока
          button.btn.btn_type_like
      .element
        img.element__img(src="blocks/element/dombay.jpg", alt="домбай")
        .element__bottom-part
          h2.element__subtitle Домбай
          button.btn.btn_type_like
      .element
        img.element__img(src="blocks/element/karachaevsk.jpg", alt="карачаевск")
        .element__bottom-part
          h2.element__subtitle Карачаевск
          button.btn.btn_type_like
      .element
        img.element__img(src="blocks/element/dombay.jpg", alt="домбай")
        .element__bottom-part
          h2.element__subtitle Домбай
          button.btn.btn_type_like
      .element
        img.element__img(src="blocks/element/karachaevsk.jpg", alt="карачаевск")
        .element__bottom-part
          h2.element__subtitle Карачаевск
          button.btn.btn_type_like
      .element
        img.element__img(src="blocks/element/elbrus.jpg", alt="эльбрус")
        .element__bottom-part
          h2.element__subtitle Гора Эльбрус
          button.btn.btn_type_like
      
    footer.footer
      p.footer__copyright 	&copy; 2020 Mesto Russia
    .popup.popup_hidden
      form.popup__container
        button.btn.btn_type_close(type="button")
        h3.popup__title Редактировать профиль
        input(type=text).popup__input.popup__input_type_name
        input(type=text).popup__input.popup__input_type_desc
        button.btn.btn_type_text Сохранить
    script(src="index.js")
