@import url(__block-title/profile__block-title.css);
@import url(__avatar/profile__avatar.css);
@import url(__title/profile__title.css);
@import url(__subtitle/profile__subtitle.css);


.profile {
    max-width: 882px;
    margin: 0 auto 50px;
    display: flex;
    align-items: center;
}